LLM_MODEL=llama3.2:3b
LLM_BASE_URL=http://localhost:11434
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=agentic_ai
POSTGRES_URI=postgresql://your_db_user:your_db_password@localhost:5432/agentic_ai
